@import 'main.css';
.test .ant-table-tbody > tr > td {
  height: 3px;
  padding: 0px;
  font-size: 10px;
}
.test .ant-table-thead > tr > th {
  padding: 2px;
  font-size: 10px;
  text-align: center;
}
.test .ant-table-thead th {
  background: #ccccff;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.test .ant-table-thead th:first-of-type {
  border-left: 1px solid whitw;
}
.btn-blue {
  background-color: theme("colors.teal");
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 0px;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  position: relative;
  padding: 1px 1px;
}
